.fill-parent,
.fill-height {
  height: 100%;
}

.fill-parent,
.fill-width {
  width: 100%;
}

.overflow-auto {
  overflow-x: auto;
  overflow-y: auto;
}

.overflow-auto-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.overflow-auto-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.full-max-width {
  max-width: 100%;
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
  }
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
  }
}
